.aboutSection {
  display: flex;
  justify-content: center;

  &__container {
    width: 90vw;

    & h1 {
      margin: 21px 0px 7px;
    }

    & p {
      line-height: 21px;
      margin-bottom: 23px;

      & span {
        color: $golden;
        margin-left: 10px;
      }
    }

    &-images {
      margin-bottom: 61px;
      display: flex;
      justify-content: space-between;

      & img {
        width: 27vw;
        height: 176px;
        object-fit: cover;
      }
    }
  }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
  .aboutSection {
    &__container {
      &-images {
        & img {
          height: 250px;
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .aboutSection {
    &__container {
      width: 90vw;

      &-images {
        & img {
          height: 400px;
        }
      }
    }
  }
}
