.blogSection {
  height: 205px;
  display: flex;
  justify-content: center;

  margin-bottom: 75px;

  &__container {
    width: 90vw;

    & h1 {
      margin-bottom: 8px;
    }

    &-scroll {
      display: grid;
      grid-template-rows: 1;
      grid-gap: 20px;
      overflow-x: scroll;
    }
  }
}

@media only screen and (min-width: 425px) {
  .blogSection {
    &__container {
      &-scroll {
        grid-gap: 30px;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
