.blogItemScroll {
  grid-row: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid $dark-green;
  height: 151px;
  width: 178px;

  &__container {
    height: 100%;
    width: 86%;

    & img {
      width: 100%;
      height: 41%;
      object-fit: cover;
      margin-top: 13px;
    }

    & h3 {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 9px;
    }

    & p {
      font-size: 8px;
      line-height: 12px;

      & span {
        color: $golden;
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .blogItemScroll {
    height: 200px;
    width: 235px;

    &__container {
      & h3 {
        font-size: 18.5px;
        line-height: 27.7px;
        margin-top: 10px;
      }

      & p {
        font-size: 10.5px;
        line-height: 16px;
      }
    }
  }
}
