.dashboard {
  display: flex;
  height: 70vh;

  & button {
    height: 50px;
  }
}

.typesContainer {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.uploadContainer {
  flex: 0.8;
  padding: 50px;
  border: 1px solid blue;
}

.uploadBox {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.inputsContainer {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & .MuiFormControl-root {
    width: 400px;
  }
}

.uploadContainerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .uploadImage {
    display: flex;
    flex-direction: column;
  }

  & progress {
    margin-top: 30px;
  }

  & button {
    height: 40px;
    width: 100px;
    font-size: 22px;
    border: 2px solid $golden;
    border-radius: 5px;
    background: transparent;
    outline-width: 0;
    align-self: flex-end;

    &:hover {
      background-color: $golden;
      color: $white;
    }
  }
}

.MuiTabs-root {
  height: 100%;
}

.MuiTabs-flexContainer {
  height: 100%;
  flex-direction: column;
}
