.fa {
  // &-info {
  //   color: #039be5;
  // }

  // &-seedling {
  //   color: green;
  // }

  // &-pen {
  //   color: #ffeb3b;
  // }

  // &-id-card {
  //   color: #795548;
  // }
}

.MuiListItemIcon-root {
  min-width: 20px;
  display: flex;
  justify-content: center;

  margin-right: 15px;

  & i {
    font-size: 20px;
  }
}
